# Compiled files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup

# Module directory
.terraform/

# Variable values for development
terraform.tfvars

# macOS
.DS_Store

# Lint reports (keep local)
lint_reports/

# mypy cache
.mypy_cache
